
/* for response the project */
.add {
    width: 100%;
    padding: 12px 15px;
    font-size: 20px;
    font-weight:bold;
    border: 3px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  
  @media (min-width: 768px) {
    input {
      max-width: 400px;
      padding: 10px 15px;
      font-size: 14px;
    }
  }
  
  
  @media (min-width: 1000px) {
    input {
      max-width: 400px;
    }
  }
  
.add:hover{
    border-radius: 9px;
background-color: bisque;
}

.addbtn{
min-width: 70px;
margin-bottom: 5px;
transform: scale(1);
transition: transform 0.3s ease-out;
}
.addbtn:hover{
    transform: scale(1.1);
}