
/* for response the project */
.box{
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
}


.add {
    width: 100%;
    padding: 8px 15px;
    font-size: 20px;
    font-weight:bold;
    border: 3px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  

  
.add:hover{
    border-radius: 9px;
background-color: bisque;
}

.addbtn{
min-width: 70px;
margin-bottom: 5px;
transform: scale(1);
transition: transform 0.3s ease-out;
}
.addbtn:hover{
    transform: scale(1.1);
}





